{% extends "base.html" %}

{% block titulo %} Portada {% endblock %}

{% block contenido %} 

<div class="p-5 bg-light">
    <div class="container">
        <h1 class="display-3"> <center>Django y MySQL</center></h1> 
        <p class="lead">C2-S10-Pr04-04 Jul</p>
        <br>
        <h3><center> Universidad Técnologica de Tehuacán</center></h3>
        <h4><center> Tecnologías de la información </center></h4>
        <h4><center> Desarrollo y Gestión de Software </center></h4>
        <h4><center> Hector Bernardo Ortega Gines</center></h4>
        <h4><center> Desarrollo para dispositivos inteligentes</center></h4>
        <h4><center> Karla Vazquez Amador </center></h4>
        <h5><center> 9° A </center></h5>
        <!--img src="/img/Logo-UTT.jpg"-->
        <hr class="my-2">
        <p class="lead">
            <!--a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Empezar</a-->
        </p>
    </div>
</div>

{% endblock %}